# Compiled Source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# Logs and Databases #
######################
*.log
*.sql
*.sqlite

# Additional #
##################################
/dashboard/files
*.ini
*.sqlite3
dashboard/db.sqlite3
*.ini
dashboard/db.sqlite3
*.ini
dashboard/db.sqlite3
dashboard/config.ini
dashboard/db.sqlite3
