@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*
@font-face{
    font-family:'FontAwesome';
    font-weight:normal;
    font-style:normal;
    src:url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
    src:url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
        url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
        url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
        url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
        url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}
*/

body {
    background: #eee;
    color: #666;
}

.section {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: 300;
}

a:link, a:visited {
    color: #555;
    text-decoration: none;
}

a:link, a:visited {
    color: #555;
    text-decoration: none;
}

a:focus, a:hover {
    color: #888;
}

div.breadcrumbs {
    background: #777;
    height: 20px;
}

.selector-chosen h2 {
    background: #f8f8f8;
    color: #666;
}

#content-related {
    background: #fff;
}

#content-related .module h2 {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #777
}

#content-related h3 {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #777
}

#branding{
    margin:0 auto;
    padding-top: 8pt;
    padding-bottom: 8pt;
}

#branding h1 {
    color: #fff;
    font-size: 34pt;
    font-family: 'Orbitron';
}

#user-tools {
    padding-top: 8pt;
    padding-bottom: 5pt;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #79aec8;
}

#branding h1 a:focus, #branding h1 a:hover {
    color: #6C9CB4;
}

#header {
    color: #79aec8;
    background: #333;
    height: 67px;
    text-align: center;
    vertical-align: middle;
}

a.section:focus, a.section:hover {
    color: #c4dce8;
    text-decoration: none;
}

.module h2, .module caption, .inline-group h2 {
    background: #777;
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #79aec8;
    color: #79aec8;
}

.paginator a:link, .paginator a:visited {
    padding: 2px 6px;
    background: #79aec8;
    text-decoration: none;
    color: #fff;
}

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
}

.action-select {
    background:black;
}

#changelist .actions .button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    color: #333;
    cursor: pointer;
    font-size: 13px;
    height: 24px;
    line-height: 1;
    margin: 0;
    padding: 4px 8px;
}

/*

    Form elements for intermediate page

*/

.intermediate thead th input[type="checkbox"] + label{
    line-height: normal;
    font-size: 13px;
    color: #bbb;
}

.intermediate input[type="radio"], .intermediate_select_all input[type='radio'],
.intermediate input[type="checkbox"], .intermediate_select_all input[type="checkbox"] {
    display: none
}

input[type="radio"] + label, input[type="checkbox"] + label {
    cursor: pointer;
    cursor: hand;
    color: #bbb;
    vertical-align:middle;
    text-align:center;
}

fieldset {
    border: none;
}

.fa {
    border-radius: 50%;
}

table.intermediate .fa {
    padding: 5px;
}

.intermediate input[type="radio"] + label, .intermediate input[type="checkbox"] + label {
.intermediate_select_all input[type="radio"] + label, .intermediate_select_all input[type="checkbox"] + label
    color: #bbb;
    padding-top:10px;
    vertical-align:middle;
    text-align:center;

    /*-webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #555;*/


    /*text-shadow: 1px 1px 1px grey, -1px -1px -1px grey*/
    /*text-shadow: 2px 0 0 #aaa, -2px 0 0 #aaa, 0 2px 0 #aaa, 0 -2px 0 #aaa, 1px 1px #aaa, -1px -1px 0 #aaa, 1px -1px 0 #aaa, -1px 1px 0 #aaa;*/
}

.intermediate input[type="radio"] + label:hover, .intermediate input[type="checkbox"] + label:hover,
.intermediate_select_all input[type="radio"] + label:hover, .intermediate_select_all input[type="checkbox"] + label:hover {
    /*-webkit-text-stroke-color: black;*/
    /*text-shadow: 1px 0 0 #555, -1px 0 0 #555, 0 1px 0 #555, 0 -2px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;*/
    color: #888;
}

.intermediate input[type="radio"]:checked + label, .intermediate input[type="checkbox"]:checked + label,
.intermediate_select_all input[type="radio"]:checked + label, .intermediate_select_all input[type="checkbox"]:checked + label {
    /*-webkit-text-stroke-color: black;*/
    /*text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
    color: #555;
}


.intermediate input[type="radio"]:checked + label:hover, .intermediate input[type="checkbox"]:checked + label:hover,
.intermediate_select_all input[type="radio"]:checked + label:hover, .intermediate_select_all input[type="checkbox"]:checked + label:hover {
    /*-webkit-text-stroke-color: black;*/
    /*text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
    color: #777;
}

.intermediate .intermediate_select_all {
    margin-right: 20pt;
}

.add_related {
    display: none;
}

.selector-chosen h2 {
    background: #f8f8f8;
    color: #666;
}

a#add_id_groups.related-widget-wrapper-link.add-related, a#add_id_test_cases.related-widget-wrapper-link.add-related{
    display:none;
}

/*
.intermediate input[type="radio"]:first-child + label, .intermediate input[type="checkbox"]:first-child + label {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size:11px;
    margin-top: 0px;
    padding-top:7px;
    padding-bottom:10px;
    width: 39px;
    height: 39px;
    border:solid 1px #888;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-transform: uppercase;

    vertical-align:middle;
    text-align:center;
}

.intermediate input[type="radio"]:first-child:hover + label, .intermediate input[type="checkbox"]:first-child:hover + label {
    border-color:#555;
}

.intermediate input[type="radio"]:first-child:checked + label, .intermediate input[type="checkbox"]:first-child:checked + label {
    border-color: #333;
}*/





input[type="checkbox"] {
    /*display:none;*/
}
/*
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    background:url(static/check_radio_sheet.png) left top no-repeat;
}*/

input[type="checkbox" i] {
    border: 1px solid black;
}

input[type="checkbox"]:checked {
   border: 1px solid black;
}

#changelist table input {
    border: 10px solid black;
    margin: 0;
    vertical-align: baseline;
    background:url(https://cdn.tutsplus.com/webdesign/uploads/legacy/tuts/391_checkboxes/check_radio_sheet.png) left top no-repeat;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #777;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.5) inset;
}

input[type=submit].default, .submit-row input.default {
    background: #777;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.5) inset;
}

input[type=submit]:hover.default, .submit-row input:hover.default {
    background: #555;
}

input[type=submit]:hover, input[type=button]:hover {
    background: #555;
}

.submit-row a.deletelink {
    display: block;
    background: #79aec8;
    border-radius: 4px;
    padding: 10px 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
}

.result-display {
    border:1px solid;
    border-radius:2px;
    text-transform:uppercase;
    font-size:11px;
    font-weight:400;
}

.result-display::before, .result-display::after{
    content:"\00a0";
}

.result-display-passed {
    /*color:#70BF2B;*/
    color:#79aec8;
}

.result-display-failed {
    /*color:#DD4646;*/
    color:#333;
}


.field-title {
    text-transform: capitalize;
    font-weight:550;
    font-size:12px;
}

td, th {
    border-bottom: 1px solid white;
}

.typewriter {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 11px;
    color: #333;
}

app-testautomation {
    display: inline-block;
}

#content {
    padding-left: 280px
}

html, body, #container {
    height: 100%;
}

#menubar {
    width: 240px;
    min-height: 625px;
    height: calc(100% - 128px);
    position: absolute;
    text-transform: uppercase;
    background: #ccc;
    left: 0;
    top: 128px;
}

#menu-logout {
    bottom: 0;
    position: absolute;
    text-align: center;
    clear: both;
    width: 100%;
    padding-bottom: 25px;
    font-size: 14pt;
}

ul {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    padding: 0;
}

#menubar ul li {
    padding: 0.6em 0 0.6em 1em;
    list-style-type: none;
    border-bottom: 1px solid #eee;
}

#menubar ul li:hover, #menubar #auth-nested li:hover, #menubar #testautomation-nested li:hover {
    background: #eee;
    color: #666;
}

#menubar #auth-nested, #menubar #testautomation-nested, #menubar ul {
    margin: 0;
}

#menubar #auth-nested li, #menubar #testautomation-nested li {
    background: #ddd;
    padding-left: 25px;
}

.deletelink {
    background: url(../static/admin/img/icon-deletelink.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.addlink {
    background: url(../static/admin/img/icon-addlink-blue.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.addlink:hover {
    background: url(../static/admin/img/icon-addlink-blue-hover.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.changelink {
    background: url(../static/admin/img/icon-changelink.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.changelink:hover {
    background: url(../static/admin/img/icon-changelink-hover.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.object-tools a:link, .object-tools a:visited {
    background-color: #79aec8;
}

.object-tools a:hover, .object-tools a:focus {
    background-color: #6C9CB4;
}

.object-tools a.addlink {
    background-image: url(../static/admin/img/icon-addlink-white.svg);
    background-size: 13px 13px;
    background-color: #79aec8;
}

.object-tools a.addlink:hover {
    background-image: url(../static/admin/img/icon-addlink-white.svg);
    background-size: 13px 13px;
    background-color: #6C9CB4;
}

.module table, .breadcrumbs {
    text-transform: capitalize;
}

#error {
    padding: 40px;
    text-align: center;
    vertical-align: middle;
}

#error h1 {
    font-size: 100pt;
    line-height: 90px;
}

#error p {
    font-size: 14pt;
    text-transform: capitalize;
}




/*
#menubar {
    display: none;
}

#content {
    padding-left: 40px;
}

#changelist-filter {
    width: 100px;
}
*/