@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    background: #eee;
    color: #666;
}

.section {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: 300;
}

a:link, a:visited {
    color: #555;
    text-decoration: none;
}

a:link, a:visited {
    color: #555;
    text-decoration: none;
}

a:focus, a:hover {
    color: #888;
}

div.breadcrumbs {
    background: #777;
    height: 20px;
}

.selector-chosen h2 {
    background: #f8f8f8;
    color: #666;
}

#content-related {
    background: #fff;
}

#content-related .module h2 {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #777
}

#content-related h3 {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #777
}

#branding{
    margin:0 auto;
    padding-top: 8pt;
    padding-bottom: 8pt;
}

#branding h1 {
    color: #fff;
    font-size: 34pt;
    font-family: 'Orbitron';
}

#user-tools {
    padding-top: 8pt;
    padding-bottom: 5pt;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #79aec8;
}

#branding h1 a:focus, #branding h1 a:hover {
    color: #6C9CB4;
}

#header {
    color: #79aec8;
    background: #333;
    height: 67px;
    text-align: center;
    vertical-align: middle;
}

a.section:focus, a.section:hover {
    color: #c4dce8;
    text-decoration: none;
}

.module h2, .module caption, .inline-group h2 {
    background: #777;
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #79aec8;
    color: #79aec8;
}

.paginator a:link, .paginator a:visited {
    padding: 2px 6px;
    background: #79aec8;
    text-decoration: none;
    color: #fff;
}

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
}

.action-select {
    background:black;
}

#changelist .actions .button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid black;
    border-radius: 4px;
    /*box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;*/
    color: #333;
    cursor: pointer;
    font-size: 13px;
    height: 24px;
    line-height: 1;
    margin: 0;
    padding: 4px 8px;
}

fieldset {
    border: none;
}

.fa {
    border-radius: 50%;
}

table.intermediate .fa {
    padding: 5px;
}

#intermediate-container {
    width: 700px;
}

.submit-row input[type=submit]{
    padding: 10px;
    margin: 0 0 0 8px;
    height: 35px;
}

.submit-row {
    padding: 12px 14px;
    background: #fff;
    text-align: right;
    overflow: hidden;
    margin-top: 35px;
    height: 35px;
}

.submit-row p.deletelink-box {
    float: left;
    margin: 0;
}

.intermediate {
    text-align: middel;
    margin: 0 auto;
    text-align: left;
}

/*
.intermediate thead th.center, .intermediate tbody tr.center {
    text-align: center;
}
*/

.intermediate thead th {
    background: #777;
    color: #fff;
    border: none;
    font-weight: 300;
    font-size: 13px;
}

.intermediate tbody {
    background: #fff;
}

.intermediate tbody tr {
    border-bottom: 1px solid #eee;
}

.intermediate thead th input[type="checkbox"] + label{
    line-height: normal;
    font-size: 13px;
}

.intermediate input[type="radio"], .intermediate_select_all input[type='radio'],
.intermediate input[type="checkbox"], .intermediate_select_all input[type="checkbox"] {
    display: none
}

.intermediate input[type="radio"] + label, .intermediate input[type="checkbox"] + label {
    cursor: pointer;
    cursor: hand;
    color: #bbb;
    vertical-align:middle;
    font-size: 13px;
}

.intermediate thead input[type="radio"] + label, .intermediate thead input[type="checkbox"] + label {
    color: #fff;
    padding-top:10px;
    vertical-align:middle;

}

.intermediate tbody input[type="radio"] + label, .intermediate tbody input[type="checkbox"] + label {
    color: #bbb;
    padding-top:10px;
    vertical-align:middle;
    text-align: center;
}

.intermediate thead input[type="radio"]:checked + label, .intermediate thead input[type="checkbox"]:checked + label {
    color: #c4dce8;
    text-align: center;
}

.intermediate thead input[type="radio"] + label:hover, .intermediate_select_all input[type="checkbox"] + label:hover,
.intermediate thead input[type="radio"]:checked + label:hover, .intermediate thead input[type="checkbox"]:checked + label:hover {
    color: #d5e6ee;
}

.intermediate tbody input[type="radio"] + label:hover, .intermediate tbody input[type="checkbox"] + label:hover,
.intermediate tbody input[type="radio"]:checked + label, .intermediate tbody input[type="checkbox"]:checked + label {
    color: #555;
}

.intermediate tbody input[type="radio"]:checked + label:hover, .intermediate tbody input[type="checkbox"]:checked + label:hover {
    color: #777;
}

.add_related {
    display: none;
}

.selector-chosen h2 {
    background: #f8f8f8;
    color: #666;
}

a#add_id_groups.related-widget-wrapper-link.add-related, a#add_id_test_cases.related-widget-wrapper-link.add-related{
    display:none;
}

input[type="checkbox" i] {
    border: 1px solid black;
}

input[type="checkbox"]:checked {
   border: 1px solid black;
}

#changelist table input {
    border: 10px solid black;
    margin: 0;
    vertical-align: baseline;
    background:url(https://cdn.tutsplus.com/webdesign/uploads/legacy/tuts/391_checkboxes/check_radio_sheet.png) left top no-repeat;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #777;
    /*box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.5) inset;*/
}

input[type=submit].default, .submit-row input.default {
    background: #777;
    /*box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.5) inset;*/
}

input[type=submit]:hover.default, .submit-row input:hover.default {
    background: #555;
}

input[type=submit]:hover, input[type=button]:hover {
    background: #555;
}

.submit-row a.deletelink {
    display: block;
    background: #79aec8;
    border-radius: 4px;
    padding: 10px 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
}

.result-display {
    border:1px solid;
    border-radius:2px;
    text-transform:uppercase;
    font-size:11px;
    font-weight:400;
}

.result-display::before, .result-display::after{
    content:"\00a0";
}

.result-display-passed {
    color:#79aec8;
}

.result-display-failed {
    color:#333;
}


.field-title {
    text-transform: capitalize;
    font-weight:550;
    font-size:12px;
}

td, th {
    border-bottom: 1px solid white;
}

.typewriter {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 11px;
    color: #333;
}

.app-sites, #content-related {
    display: none;
}

#login-form {
    padding-bottom: 20px;
}


#content {
    padding-left: 260px;
}

html, body, #container {
    height: 100%;
    overflow-y:auto;
}

#container {
    background-image: url(../static/admin/img/menubar-background.png);
    background-repeat: repeat-y;
}

#menubar {
    width: 220px;
    min-height: calc(100%-128px);
    bottom:0px;
    overflow-y:auto;
    position: absolute;
    text-transform: uppercase;
    top: 128px;
}

ul {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    padding: 0;
}

#menubar ul li {
    padding: 0.6em 1em 0.6em 1em;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    background: #ccc;
    cursor: pointer;
    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right {
    float: right;
}

#menubar ul li:hover, #menubar #auth-nested li:hover, #menubar #testautomation-nested li:hover {
    background: #eee;
    color: #666;
}

/*
#menubar #auth-nested, #menubar #testautomation-nested {
    display: none;
}
*/

#menubar #auth-nested li, #menubar #testautomation-nested li {
    background: #ddd;
    padding-left: 25px;
}

.deletelink {
    background: url(../static/admin/img/icon-deletelink.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.addlink {
    background: url(../static/admin/img/icon-addlink-blue.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.addlink:hover {
    background: url(../static/admin/img/icon-addlink-blue-hover.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.changelink {
    background: url(../static/admin/img/icon-changelink.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.changelink:hover {
    background: url(../static/admin/img/icon-changelink-hover.svg) 0 1px no-repeat;
    background-size: 13px 13px
}

.object-tools a:link, .object-tools a:visited {
    background-color: #79aec8;
}

.object-tools a:hover, .object-tools a:focus {
    background-color: #6C9CB4;
}

.object-tools a.addlink {
    background-image: url(../static/admin/img/icon-addlink-white.svg);
    background-size: 13px 13px;
    background-color: #79aec8;
}

.object-tools a.addlink:hover {
    background-image: url(../static/admin/img/icon-addlink-white.svg);
    background-size: 13px 13px;
    background-color: #6C9CB4;
}

.module table, .breadcrumbs {
    text-transform: capitalize;
}

#error {
    padding: 40px;
    text-align: center;
    vertical-align: middle;
}

#error h1 {
    font-size: 100pt;
    line-height: 90px;
}

#error p {
    font-size: 14pt;
    text-transform: capitalize;
}

table.intermediate {
    width: 100%;
}

table.intermediate td {
    vertical-align: middle;
}

.messagelist {
    margin-left:
}

.red {
    color: #ba2121;
}


.submit-row a.deletelink:focus, .submit-row a.deletelink:hover, .submit-row a.deletelink:active {
    background: #6C9CB4;
}