{% extends "admin/base_site.html" %}

{% block extrahead %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/admin/">Home</a>
› About OptiRun
</div>
{% endblock %}

{% block content %}
<div class="static-pg">
    <h1>About</h1>
    <p>
        OptiRun is a platform for optimized test execution of automated web tests in distributed environments. It is built
        upon technologies such as Selenium and Django, and aims to minimize the execution time of a test set based on the
        available test machines in the system. OptiRun consists of two main elements; a controller, which takes care of test
        allocation, execution and result reporting, and a web application where users can upload and manage test scripts,
        request test executions, view execution results and report failed test executions to the issue tracking system JIRA.
    </p>

    <br>

    <center>
        <img src="{{ STATIC_URL }}img/uis.svg" width="140pt" align="middle"/>
        &emsp;&emsp;&emsp;&emsp;&emsp;
        <img src="{{ STATIC_URL }}img/altibox.svg" width="200pt" align="middle"/>
    </center>

    <br><br>

    <p>
        OptiRun was submitted as a Master's Thesis at the University of Stavanger by Janicke Falch, to support Altibox in
        the procedure of incorporating test automation as a practice in the testing process of their online web service
        <B><a href="https://tvoveraltstg.altibox.no/">TV Overalt.</a></B>
    </p>
</div>
{% endblock %}
