{% extends "admin/base.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Orbitron&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}extra.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script language="JavaScript" type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/toggles.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ title }} | {{ site_title|default:_('OptiRun') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('OptiRun') }}</a></h1>
{% endblock %}

{% block usertools %}
    <div id="user-tools">
        Welcome,
        <strong>{{ request.user.username }}</strong>!
        <a href="/admin/password_change/">Change password</a> /
        <a href="/admin/help/">Help</a> /
        <a href="/admin/about/">About</a> /
        <a href="/admin/logout/">Log out</a>
    </div>
{% endblock %}

{% block footer %}
    {% if user.is_authenticated %}
    <div id="menubar">
            <ul>
                <a href="/admin/"><li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&emsp;Home</li></a>
                {% if perms.auth %}
                    <li id="auth" onclick="toggle('auth')">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>&emsp;User Administration
                        <span id="auth-right" class="right"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </li>
                    <ul id="auth-nested">
                        {% if perms.auth.can_change_user or perms.auth.can_add_user or perms.auth.can_delete_user %}
                            <a href="/admin/auth/user"><li>Users</li></a>
                        {% endif %}

                        {% if perms.auth.can_change_group or perms.auth.can_add_group or perms.auth.can_delete_group %}
                            <a href="/admin/auth/group"><li>Groups</li></a>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if perms.testautomation %}
                    <li id="testautomation" onclick="toggle('testautomation')">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>&emsp;Test Automation
                        <span id="testautomation-right" class="right"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </li>
                    <ul id="testautomation-nested">
                    {% if perms.testautomation.can_change_test_cases or perms.testautomation.can_add_test_cases %}
                        <a href="/admin/testautomation/testcase"><li>Test Cases</li></a>
                    {% endif %}

                    {% if perms.testautomation.can_change_groups or perms.testautomation.can_add_groups %}
                        <a href="/admin/testautomation/group"><li>Groups</li></a>
                    {% endif %}

                    {% if perms.testautomation.can_change_test_machines or perms.testautomation.can_add_test_machines %}
                        <a href="/admin/testautomation/testmachine"><li>Test Machines</li></a>
                    {% endif %}

                    {% if perms.testautomation.can_change_logs or perms.testautomation.can_add_logs %}
                        <a href="/admin/testautomation/log"><li>Execution Log</li></a>
                    {% endif %}

                    {% if perms.testautomation.can_change_schedules or perms.testautomation.can_add_schedules %}
                        <a href="/admin/testautomation/schedule"><li>Schedule</li></a>
                     {% endif %}
                    </ul>
                {% endif %}

                <a href="/admin/download/"><li><i class="fa fa-download" aria-hidden="true"></i>&emsp;Download</li></a>
                <a href="/admin/about/"><li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&emsp;About</li></a>
                <a href="/admin/help/"><li><i class="fa fa-info-circle" aria-hidden="true"></i>&emsp;Help</li></a>
            </ul>
        </div>
    {% endif %}
{% endblock %}




