{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/admin/">Home</a>
› Download
</div>
{% endblock %}

{% block content %}
<!--<h1>Downloads</h1>-->

<div id="error">
    <h1>DOWNLOADS</h1>
    <p>Not Finished</p>
    <a href="/files/selenium-template.py" download="Selenium Template">Download Selenium Test Script Template</a>

    <a href="/files/linux.zip" download="OptiRun Test Machine (Linux)">Linux</a>
    <a href="/files/windows.zip" download="OptiRun Test Machine (Windows)">Windows</a>
</div>
{% endblock %}
